* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Blackpast';
  src: url('./fonts/ttf/blackpast-blackpast-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeliosRegular";
  src: url("/helios-regular.ttf") format("truetype");
  font-weight: normal;
    font-style: normal;
  /* You can also provide other font formats for better browser compatibility */
}

body {
  /* background: rgba(35, 4, 57,0.5); */
  /* background: linear-gradient(90deg, rgba(35, 4, 57, 1) 0%, rgba(79, 22, 121, 1) 52%, rgba(57, 5, 75, 1) 100%); */
  align-items: center;
  /* background-image: url("./bgg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "fixed";
  height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 7em;
  font-weight: 900;
  font-family: 'Blackpast', sans-serif;
  z-index: 100000;
  /* font-family: "HeliosRegular", Arial, sans-serif; */
  color: #d3c1e7;
}
.club_name{
  font-size: 0.3em;
}
.presents{
  font-size: 0.2em;
}
.header img {
  position: relative;
}

#docker {
  position: absolute;
  top: 5%;
  left: 0;
  width: 400px;
}

#golang {
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 0;
}

/*Navbar starts*/
.nav_elements {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  width: max-content;
  left: 50%;
  gap: 1rem;
  padding: 1rem;
  position: fixed;
  justify-content: space-around;
  /* height: 3rem; */
  backdrop-filter: blur(15px);
  transform: translateX(-50%);
  align-items: center;
  animation-name: navAnimation;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  font-size: 2rem;
  z-index: 10000000000;


}

nav .nav_elements a {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background: transparent;
  /* color: black; */
  color: #d3c1e7;
  text-decoration: none;
  font-family: "HeliosRegular", Arial, sans-serif;


}

.containers {
  position: inherit;
  z-index: 2;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  /* border-radius: 1.5rem; */
}

nav a svg {
  width: 1.6em;

}

@keyframes navAnimation {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 5rem;
  }
}


/*Navbar ends*/
.go_container,
.docker_container {
  position: relative;
  z-index: 10;
  display: flex;
  width: 90%;
  margin: 0.5em auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255,255,255,0.2); */
  /* backdrop-filter: blur(15px); */
  border-radius: 15px;
  padding: 0em 2em;
}

model-viewer {
  width: 33%;
  height: 80vh;
}

.containers {
  width: 100%;
  margin: 0;
  padding: 0;
}

.go_session,
.docker_session {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 66%;
  justify-content: space-between;
  transition: all 0.8s ease-in-out;
  padding: 1.4em;
  
  border-radius: 1em;
  color: #d3c1e7;

}

.go_session1:hover,.go_session2:hover,.docker_session2:hover,
.docker_session1:hover {
  background-color: rgba(10, 4, 35, 0.9);
  backdrop-filter: blur(20px);
}

/* 
.docker_session {
  width: 60%;
} */

.go_session1,
.go_session2,
.docker_session1,
.docker_session2 {
  padding: 1em;
  width: 44%;
  margin: 1em 0em;
  background-color: rgba(10, 4, 35, 0.5);
  backdrop-filter: blur(8px);
  font-family: "HeliosRegular", Arial, sans-serif;
  transition: all 0.4s ease-in-out;
}

.go_session1 h1,
.go_session2 h1,
.docker_session1 h1,
.docker_session2 h1 {
  font-family: "HeliosRegular", Arial, sans-serif;
  font-size: 3em;
  color: #d3c1e7;
}

.go_session1 p,
.go_session2 p,
.docker_session1 p,
.docker_session2 p {
  font-size: 1.2em;
  color: #d3c1e7;
  border-radius: 1.5em;
  padding:1em 0em;
  margin: 0.3em;
  transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 600px) {
  nav a svg {
    width: 1.5em;
  }

  nav a {
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    border-radius: 1rem;
    background: transparent;
    color: black;
    text-decoration: none;

  }

  .nav_elements {
    width: 90%;
    margin: auto;
    gap: 0.1rem;
    justify-content: space-between;
  }

  .go_container {
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 0;
  }

  .docker_container {
    width: 90%;
    margin: auto;
    flex-direction: column-reverse;
  }

  .go_session,
  .docker_session {
    flex-direction: column;
    width: 100%;
  }

  model-viewer {
    width: 80%;
    height: 50vh;
  }

  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Blackpast', sans-serif;
    
  }
  .club_name{
    font-size: 1.5em;
  }
  .presents{
    font-size: 1em;
  }



  #docker {
    position: relative;
    width: 200px;
  }

  #golang {
    position: relative;
    width: 200px;
  }

  .go_session1 p,
  .go_session2 p,
  .docker_session1 p,
  .docker_session2 p {
    padding: 0.5em;
  }
  .go_session1 ,
  .go_session2 ,
  .docker_session1 ,
  .docker_session2 {
    width: 95%;
    margin: 1em auto;
  }
}

.register{
  margin: 0;
  padding: 0;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Helios Pro Regular", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  min-height: 90vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.subContainer {
  display: flex;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(185, 178, 200, 0.05),
    rgba(180, 172, 196, 0.05)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 2rem;
  border: 1px solid rgba(14, 6, 6, 0.18);
  box-shadow: 0 18px 32px 0 rgba(253, 241, 241, 0.37);
  padding: 4rem 1rem;
}

.form {
  width: 50%;
  margin-right: 20px;
  margin-left: 6rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  margin-top: 4rem;
}

form input,
form select {
  margin-bottom: 10px;
  padding: 8px;
}
input {
  color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all 0.3s ease;
}

.cards1 {
  
  width: 10rem;
  margin-top: 5rem;
}

.card2,
.card3,
.card4 {
  transition: all 0.3s ease;
}
.card2:hover {
  transform: scale(1.1);
}

.card3:hover {
  margin-left: 8rem;
  transform: scale(1.1);
  z-index: 4;
}

.card4:hover {
  margin-left: 15rem;
  transform: scale(1.1);
  z-index: 4;
  transform: rotate(0deg);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card2 {
  width: 13rem;
  height: 18rem;
  position: absolute;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(14, 6, 6, 0.18);
  box-shadow: 0 18px 32px 0 rgba(253, 241, 241, 0.37);
  background: linear-gradient(
    to left top,
    #d818ff,
    #8000af,
    #8e3197 100%,
    #97318e 200%
  );
  z-index: 3;
  transform: rotate(5deg);
}

.card3 {
  width: 13rem;
  height: 18rem;
  position: absolute;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(14, 6, 6, 0.18);
  box-shadow: 0 18px 32px 0 rgba(253, 241, 241, 0.37);
  background: linear-gradient(
    to left top,
    #d818ff,
    #8000af,
    #8e3197 100%,
    #97318e 200%
  );
  z-index: 2;
  margin-left: 100px;
}
.div1 {
  margin-left: 2px;
}
.img1 {
  margin-top: 1rem;
  width: 9rem;
  border-radius: 1rem;
  height: 10rem;
  margin-left: 0.05rem;
  margin-top: 2rem;
  object-fit: cover;
}
.div2 {
  align-items: center;
  margin-left: 1px;
  margin-top: 1rem;
}
.div2 h2 {
  color: #f3e9ff;
  font-size: 1rem;
}
.div3 {
  margin-left: 2px;
  padding-bottom: 3rem;
}
.img2 {
  width: 8rem;
  margin-bottom: 2.5rem;
}
.card4 {
  width: 13rem;
  height: 18rem;
  position: absolute;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(14, 6, 6, 0.18);
  box-shadow: 0 18px 32px 0 rgba(253, 241, 241, 0.37);
  background: linear-gradient(
    to left top,
    #d818ff,
    #8000af,
    #8e3197 100%,
    #97318e 200%
  );
  z-index: 1;
  margin-left: 200px;
  transform: rotate(-8deg);
}
.opt {
  background: black;
}
.qr {
  display: flex;
  flex-direction: column;
}
.qr img {
  width: 18rem;
  margin-top: 1rem;
  border-radius: 2rem;
}
.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.text {
  margin-top: 1rem;
}

button {
  font-family: "Helios Pro Regular", sans-serif;
  cursor: pointer;
  width: 50%;
}
.box {
  background: transparent;
  width: 80%;
  height: 1.5rem;
  border: none;
  outline: none;
  border: 2px solid #d3c1e7;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.box input::placeholder {
  color: white;
}
.box:hover {
  border-color: #bf00ff;
}
.main {
  margin-bottom: 1rem;
  text-align: center;
}
.box1 {
  background: transparent;
  height: 2.5rem;
  width: 82%;
  border: none;
  outline: none;
  border: 2px solid #d3c1e7;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.box1:hover {
  border-color: #bf00ff;
}
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #d3c1e7;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));

  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  width: 82%;
  height: 3rem;
  border: 0;
  margin-top: 1rem;
  margin-right: 3px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

#technology {
  color: white;
}
#dualBoot {
  color: white;
}

input::file-selector-button {
  background-image: linear-gradient(
    to right,
    #d818ff,
    #8000af,
    #8e3197 100%,
    #97318e 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}
input::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1.03);
}

.leftContainer {
  width: 40%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
/*Footer Start*/

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  justify-content: space-around;
  margin: 1em 0.8em;
  padding: 4rem 0;
  border-radius: 1em;
  position: relative;
  z-index: 10000000000000;
  background-color: rgba(10, 4, 35, 2);
}

.logo-icon-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  column-gap: 2rem;
}

.smedia-links {
  display: flex;
  flex-direction: column;
}

.wlug-logo img {
  width: 16rem;
  height: auto;
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.stay_tuned {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navli {
  display: flex;
  flex-direction: row;
  gap: 4em;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.45rem;
}

.navli a,
.policies div a,
.ics a:hover {
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

.policies div a {
  color: white;
}

.navli a:hover,
.policies a:hover,
.ics a:hover {
  /* color: #f3db16; */
  text-decoration: none;
}

.ics {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.policies,
.policies div {
  display: flex;
}

@media only screen and (max-width: 1700px) {
  .logo-icon-container {
    width: 45%;
  }
}

@media only screen and (max-width: 1500px) {
  .logo-icon-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1270px) {
  .logo-icon-container {
    width: 55%;
  }

  .footer {
    column-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 1236px) {
  .logo-icon-container {
    width: 100%;
    justify-content: center;
    column-gap: 4rem;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    gap: 1em;
  }

  .navli {
    font-size: 1.2rem;
  }

  .wlug-logo {
    width: 14rem;
  }

  .stay_tuned {
    font-size: 1.4rem;
  }

  .copryright p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 680px) {
  .footer {
    justify-content: space-between;
    padding: 4rem 3rem;
  }

  .logo-icon-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .wlug-logo {
    display: none;
  }

  .navigation {
    align-items: flex-end;
    width: 100%;
  }

  .navli {
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 1.5em;
  }

  .policies {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    padding: 4rem 2rem;
  }

  .navli {
    font-size: 1.05rem;
    justify-content: center;
  }

  .navigation {
    align-items: center;
  }

  .stay_tuned {
    font-size: 1.3rem;
  }

  .policies {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 320px) {
  .navli {
    gap: 1em;
  }
}
@media only screen and (max-width: 1200px) {
  .cards1 {
    display: none;
  }
  .heading {
    margin-right: 1rem;
  }
  .qr {
    flex-wrap: wrap;
  }
  .qr img {
    width: 14rem;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  .form {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .subContainer {
    flex-direction: column-reverse;
  }
  .form {
    width: 90%;
    line-height: 1.5rem;
  }
  .box {
    width: 87%;
  }
  .box1 {
    width: 93%;
  }
  button {
    width: 100%;
  }
  .leftContainer {
    width: 100%;
  }
  .heading {
    margin: 2rem auto 1rem auto;
  }
  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .glass {
    padding: 2rem 1rem 3rem 1rem;
  }
}
/*Footer End*/

.bg-image img {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* z-index: -9999999999999; */
}

.bg-image {
  width: 100%;
  height: 100vh;
}